@charset "UTF-8";
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

@font-face {
 font-family: 'NanumSquare';
 src: url(../images/NanumSquareR.eot);
 src: url(../images/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(../images/NanumSquareR.woff) format('woff'),
      url(../images/NanumSquareR.ttf) format('truetype');
}

/*reset*/
*{margin: 0; padding: 0;}
ul, ol, li{list-style: none;}
/*html, body{height: 100%;}*/
a{text-decoration: none !important;}
a:link, a:visited, a:active{color: #000;}

img{vertical-align: top; border:0 none;}
table{border-spacing: 0; border-style: none; table-layout: fixed;}
body{position: relative; overflow-x: hidden; font-family: 'Nanum Gothic';}


/*header & gnb*/
#header{position: fixed; top: 0; left: 0; width: 100%; z-index: 1000; height: 74px; background-color: #fff; border-bottom: 1px #f4f4f4 solid;}
h1{float: left;}
h4{font-size:17px;color:#3a3a3a;text-align:justify;font-weight:700;}
nav.navbar{border: 0 none; background: rgba(255, 255, 255, 0.8);}
nav.m-nav{display: none;}
nav.navbar > div.container-fluid{padding: 0;position:relative;}
div.layout-wrap{width: 1024px; height: 74px; margin: 0 auto; position: relative;}
ul.navbar-nav{width: 75.48%; margin-left: 4%; text-align: center;}
ul.navbar-nav a:hover > span{color: #dcbd6c !important;}
ul.navbar-nav > li{height: 100%; font-size: 15px; font-weight: 800;}
ul.navbar-nav > li.on{height: 240px; background-color: #0f0f0f;}
ul.navbar-nav > li:first-child{width: 18.6%;}
ul.navbar-nav > li:first-child+li{width: 18.4%;}
ul.navbar-nav > li:first-child+li+li{width: 16.5%;}
ul.navbar-nav > li:first-child+li+li+li{width: 19%;}
ul.navbar-nav > li:first-child+li+li+li+li{width: 18.2%;}
ul.navbar-nav > li > a{padding: 30px 0 24px;}
ul.navbar-nav > li.on > a {border-bottom: 3px #765d1a solid;}
ul.navbar-nav > li.on > a > span{color: #d7d7d7}
ul.navbar-nav > li > ul{height: 0; margin: 0; border-right: 1px #eaeaea solid;
    -webkit-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
    -webkit-transition-property: height,margin;
    -o-transition-property: height,margin;
    transition-property: height,margin;
    overflow:hidden;
}
ul.navbar-nav > li:last-child > ul{border: 0 none;}
ul.navbar-nav > li.on > ul{border: 0 none;}
ul.navbar-nav > li > ul > li{padding: 6px 0; font-family: 'NanumSquare'; font-size: 13px; font-weight: 500;}
ul.navbar-nav > li.on > ul > li > a > span{color: #b2b2b2;}
ul.navbar-nav > li > ul{}
div.lang-area{width: 12%; height: 74px; position: absolute; top: 0; right: 0%; background-color: #000;}
div.lang-area > a > img{margin: 34px 0 0 15.51%;}
#mobile-nav li ul li{

}


/*footer*/
#footer{width: 100%; text-align: center; background-color: #fff; clear: both;}
#footer > address{margin-top: 18px;}
#footer > address > span {font-family: tahoma; font-size:9px; line-height: 16px; color:#a09a8a}
#footer > address strong{color:#7c786c}
#m-footer{display: none;}
#m-footer > address > span > img{margin: 0 auto;}
#sub-footer{width: 100%; height: 145px; text-align: center; background-color: #372b0a;}
#sub-footer > address{padding: 40px 0 20px; margin: 0 !important;}
#sub-footer > address > span { font-size:9px; line-height:16px; color:#a09a8a;}
#sub-footer > address > strong {color:#7c786c}
#sub-footer > address > span > img{margin: 0 auto;}
div.sub-m-footer{display: none;}
