@media (max-width: 1500px){
    div.layout-wrap{
        width: 80%;
    }

}
@media (max-width: 1315px){
    div.sub-lnb-wrap{
        width: 90% !important;
    }
}
@media (max-width: 1200px){
    div.daum_map{
        width: 900px !important;
        margin: 0 auto;
    }
    .convenience .contents-area{
        margin-bottom: 465px;
    }
    div.locate-way{
        position: relative;
        padding: 79px 0 136px;
    }

    ul.pc-ways{

        margin: 0 auto;
    }

    ul.pc-ways > li{

    }

    div.sub-pc-options{
        display: none;
    }

    div.sub-m-options{
        display: block;
        padding-bottom: 54px;
        clear:both;
    }

    div.sub-m-options > ul{
        width: 384px;
        margin: 0 auto;
    }

    div.sub-m-options > ul > li{
        display: inline-block;
        padding: 0 6.5px !important;
    }
}

@media (max-width: 1080px){
    div.sub-banner{
        height: 140px;
    }
    div.pc-mid-area{
        display: none;
    }

    div.m-mid-area{
        display: block;
    }

    div.m-mid-area > span > img{
        margin: 0 auto 43px;;
    }

    .tower-model,
    .construction{
        float: none !important;
        margin: 0 auto !important;
    }

    div.table-responsive{
        border: 0 none;
    }

    .tower-model > img{
        margin: 0 auto 27px;
    }

    .clearing{
        padding-bottom: 80px !important;
    }

    div.intro-main-bot{
        padding-top: 66px !important;
    }

    div.intro-main-bot-contents{
        margin-top: 45px !important;
    }

    div.intro-main-bot-contents > span:first-child+span{
        margin-bottom: 54px !important;
    }

    div.intro-main-bot-contents > span:last-child{
        margin-bottom: 55px !important;
    }

    div.intro-main-add-contents > ul > li{
        display: block;
    }

    div.intro-main-add-contents > ul > li > span > img{
        margin: 15px auto;
    }

}
@media (max-width: 1035px){
    ul.navbar-nav{
        width: 70%;
        margin-left: 5%;
    }
}
@media (max-width: 1040px){
    #footer > address{margin-top: 50px;}
}
@media (max-width: 1000px){

    div.maps ul{
        text-align: center;
        padding:0;
    }
    div.daum_map{
        width: 750px !important;
        margin: 0 auto;
    }

    ul.pc-ways, .minimap{
        display: none;
    }

    ul.m-ways{
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    ul.m-ways > li{
        margin-bottom:38px;
        text-align:left;

    }
    ul.m-ways .way_detail{
        padding-left:35px;
        display:inline-block;
        font-size:13px;
        line-height: 30px;
        vertical-align: middle;
        font-weight:700;
        color:#3f3f3f;

    }

    ul.m-ways .way_detail mark{
        color:#aa8420;
        background-color: #ede9e6;
        margin-right:20px;
    }
}
@media (max-width: 945px){

}
@media (max-width: 855px){
    .floor_company{
        display:none;
    }
    .m_floor_company{
        display:block;
    }
    .m_floor_controller{
        display:block;
    }
    ul.floor_block{
        display:none;
    }
    div.sub-banner{
        height: 120px;
    }
    div.sub-lnb-wrap{
        width: 76% !important;
    }
    ul.navbar-nav{
        margin-left: 4%;
    }

    div.lang-area{
        display: none;
    }
}
@media (max-width: 850px){
    div.daum_map{
        width: 650px !important;
        margin: 0 auto;
    }
}
@media (max-width: 820px){
    ul.navbar-nav{
        margin-left: 3%;
    }
}
@media (max-width: 790px){
    ul.navbar-nav{
        margin-left: 2%;
    }
}
@media (width: 768px){

    .navbar-collapse.collapse {
        display: none !important;
    }
}
@media (max-width: 768px){
    h2.lnb-title{
        font-size:23px;
    }
    #header{
        border-bottom: 3px #000 solid;
    }
    a:link, a:visited, a:hover, a:active{
        color: #fff;
    }
    ul.m-ways{
        width:95%;
    }
    div.header{
    	height: 83px !important;
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
    }

    h1{
        height: 35px;
        margin: 22px 0 0 23px;
    }

    nav.pc-nav{
    	display: none;
    }

    nav.m-nav{
    	display: block;
        margin: 0 !important;
    }

    nav.navbar{
    	background-color: transparent !important;
    }

    ul.navbar-nav{
        width: 100%;
        margin: 0;
        border-bottom: 5px #aa8420 solid;
        background-color: #050403;
        opacity: 0.9;
        text-align: left;
        /*overflow-y: scroll;*/
    }

    ul.navbar-nav > li{
        width: 100% !important;
        padding-bottom: 9px;
        font-family: 'NanumSquare';
        font-size: 18px;
        border-bottom: 1px #1c191a solid;
        background: url("../images/common/m_nav_close.png") 89% 31px no-repeat;
    }

    ul.navbar-nav > li.change{
        background: url("../images/common/m_nav_open.png") 89% 31px no-repeat;
    }

    ul.navbar-nav > li > a{
        display: block;
        width: 70px;
        padding: 26px 0 22px !important;
        margin-left: 32px;
    }

    ul.navbar-nav > li > a > span{
        color: #fff;
    }

    ul.navbar-nav > li > ul{
        height: 13px;
        margin: 0;
        padding-bottom: 28px;
        border: 0 none;
    }

    ul.navbar-nav > li > ul > li{
        float: left;
    }

    ul.navbar-nav > li > ul > li > a{
        margin-left: 32px;
    }

    ul.navbar-nav > li > ul > li > a > span{
         color: #afaeae;
    }

    .navbar-collapse{
        padding: 0;
        border: 0 none;
    }

    #sub-main > div.container-fluid{
        margin-top: 6px;
    }
    #note_title{
        width:100%;
        padding-bottom:45px;
    }
    #note_content{
        width:100%;
        border:none;
    }
    #note_content > p > span, #note_content > p > small{
        /*display:none;*/
    }
    .note{
        padding:50px 0 58px;
    }
    div.sub-lnb-wrap{
        width: 93.5% !important;
    }

}
@media (max-width: 750px){
    div.daum_map{
        width: 600px !important;
        margin: 0 auto;
    }
}

@media (max-width: 700px){
    div.daum_map{
        width: 550px !important;
        margin: 0 auto;
    }
    .way_detail{
        width:70%;
    }

}

@media (max-width: 675px){
    div.locate-way{
        padding-top: 70px !important;
    }

    ul.m-ways{
        display: block;
        width: 93%;
        margin: 0 auto;
    }
    div.locate-way{
        padding-top: 70px !important;
    }
    .sub-add-wrap{
        display:none;
    }
    .sub-banner{
        display:none;
    }
    .lnb-area{
        display:none;
    }
    div.sub-lnb{
        height:70px;
    }
    .lnb-title{
        line-height: 70px;
    }
    .content-title{
        font-size:26px;
    }
    .content-detail{
        display:none;
    }
    .intro-main .content-detail-m{
        font-size:16px;
        display:inline-block;
        max-width:355px;
        width:100%;
        letter-spacing: -0.5px;
        margin-bottom:38px;
    }
    div.contents-area{
        padding-top: 48px;
    }
}

@media (max-width: 660px){

    #footer{
        display: none;
    }
    #m-footer{
        display: block;
        width: 100%;
        background-color: #372b0a;
        clear: both;
    }

    #m-footer > address{
        text-align: center;
        padding: 28px 0 23px;
        margin-bottom: 0 !important;
    }

    div.sub-pc-footer{
        display: none;
    }

    div.sub-m-footer{
        display: block;
        background-color: #372b0a;
        padding: 28px 10px 24px;
    }

    div.sub-m-footer > address{
        margin-bottom: 0 !important;
    }

    div.sub-m-footer > address > span > img{
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 650px){
    div.daum_map{
        width: 500px !important;
        margin: 0 auto;
    }
}

@media (max-width: 640px){
    ul.lnb-area{
        display: none;
    }
    div.daum_map{
        width: 450px !important;
        margin: 0 auto;
    }
    div.sub-banner{
        display: none;
    }

    div.m-sub-banner > span > img{
        margin: 0 auto;
    }
}

@media (max-width: 600px){
    div.daum_map{
        width: 450px !important;
        margin: 0 auto;
    }
    div.sub-lnb-wrap{
        width: 92.5% !important;
    }
}

@media (max-width: 550px){
    div.daum_map{
        width: 400px !important;
        margin: 0 auto;
    }
    div.sub-lnb-wrap{
        width: 91.5% !important;
    }
    .gallery_slide .left_btn,.gallery_slide .right_btn{
        background-size: 70%;
    }
}

@media (max-width: 532px){

    ul.navbar-nav > li > ul{
        height: 65px;
    }
    ul.navbar-nav > li:first-child+li+li > ul{
        height: 13px;
    }

    /*.m-ways .way_circle{
        width:70px;
        height:70px;
        line-height:70px;
        font-size: 12px;
    }*/
    /*.m-ways li:first-child+li .way_circle{
        line-height:20px;
        padding-top:15px;
    }*/
    ul.m-ways .way_detail{
        padding-left: 15px;
    }
}

@media (max-width: 500px){
    div.daum_map{
        width: 350px !important;
        margin: 0 auto;
    }
    div.sub-lnb-wrap{
        width: 90.5% !important;
    }
    ul.m-ways li{
        text-align:center;
    }
    .way_circle{
        margin-bottom:10px;
    }
    ul.m-ways .way_detail{
        display:block;
        width:100%;
        text-align:left;
    }
}

@media (max-width: 450px){
    div.sub-m-options > ul{
        width: 90%;
    }

    div.sub-m-options > ul > li{
        width: 24%;
    }
    .convenience .contents-area li{
        display:block;
        text-align: center;
        margin-bottom:30px;
        width:100%;
    }
    div.daum_map{
        width: 300px !important;
        margin: 0 auto;
    }
    div.sub-lnb-wrap{
        width: 89.5% !important;
    }
}

@media (max-width: 400px){
    div.daum_map{
        width: 300px !important;
        margin: 0 auto;
    }
    div.sub-lnb-wrap{
        width: 88.5% !important;
    }
    ul.m-ways .way_detail{
        letter-spacing: -0.8px;

    }
    .floor_info_view .ci_box{
        padding: 20px 25px 20px 15px;
    }
    .floor_info_view .ci_box .details{
        padding: 7px 10px;
    }
}

@media (max-width: 350px){
    .floor_info_view .ci_box{
        padding: 20px 15px 20px 10px;
    }
    .floor_info_view .ci_box .details{
        padding: 7px 5px;
    }
    div.locate-way{
        padding-bottom: 55px;
    }
    div.sub-m-options ul{
        margin:0;
        width:100%;
        text-align:center;
    }
    div.daum_map{
        width: 250px !important;
        margin: 0 auto;
    }
    div.sub-lnb-wrap{
        width: 87.5% !important;
    }
}
