@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*서브 페이지: 공통*/
div.main{
    padding-top: 74px;
}

div.intro-main,
#sub-main{
    padding-top: 74px !important;
}

div.sub-banner{
    width:100%;
    margin: 0 auto;
    background: url('../images/sub/common/banner.png') no-repeat 40% 0;
    background-size: cover;
    height:160px;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}
div.sub-banner > span > img{
    margin: 0 auto;
}

div.m-sub-banner{
    display: none;

}

div.sub-lnb{
    width: 100%;
    height: 60px;
    border-bottom: 1px #e5e5e5 solid;
}

div.sub-lnb-wrap{
    max-width: 1024px;
    margin: 0 auto;
}

div.intro-main-bot{
    clear: both;
}

div.sub-top-wrap,
div.sub-mid-wrap,
div.sub-bot-wrap,
div.sub-add-wrap{
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

div.intro-main-mid{
    margin-top: 63px;
}

div.intro-main-bot{
    padding-top: 92px;
}

div.sub-pc-options{
    position: absolute;
    top: 27px;
    right: -3.04%;
}

div.sub-pc-options > ul > li{
    padding: 3px 0;
}

div.sub-m-options{
    display: none;
}

div.sub-lnb-wrap{
    position: relative;
}

.lnb-title{
    font-family: 'Nanum Gothic';
    font-size: 21px;
    font-weight: 800;
    word-spacing: -0.5px;
    color: #3a3a3a;
    margin: 0 0 0 1px !important;
    line-height: 60px;
    display: inline-block;
}

.lnb-area{
    float:right;
    margin:0;
    display:inline-block;
    line-height: 60px;
}

.lnb-area > li{
    float: left;
}
.lnb-area > li img{
    vertical-align: initial;
}
.lnb-area > li{
    background: url("../images/sub/common/right_arrow.png") 100% 26px no-repeat;
}
.lnb-area > li > a, .lnb-area > li > a:hover {
    color:#a7a7a7;
    font-size: 11px;
    letter-spacing: -0.5px;
    font-family: 'Dotum';
    font-weight: normal;
}
.lnb-area > li > a > strong{
    color:#787878;

}
.lnb-area > li:first-child{
    width: 22px;
}
.lnb-area > li:first-child+li,
.lnb-area > li:first-child+li+li{
    margin-left: 6px;
}

.lnb-area > li:last-child{
    background: 0 none;
}

div.contents-area{
    padding-top: 56px;
}

.content-title{
    font-family: 'Nanum Gothic';
    font-size: 23px;
    font-weight: 800;
    color: #3a3a3a;
    margin: 0 0 11px 0 !important;
}
.content-detail-m{
    display:none;
}
.content-subtitle{
    font-family: 'Nanum Gothic';
    font-size: 16px;
    font-weight: 500;
    color: #3a3a3a;
    margin: 0 0 29px 0 !important;
    letter-spacing: -0.5px;
    line-height:26px;
}

.content-detail{
    font-family: 'Nanum Gothic';
    font-size: 13px;
    line-height: 25px;
    font-weight: 500;
    color: #3f3f3f;
    margin: 0 0 45px 0 !important;
}

div.wrap_controllers{
    display: none;
}

/*서브 페이지: 타워소개 > 파르나스 소개*/
div.intro-main ul.lnb-area > li:first-child+li{
    width: 75px;
}

div.pc-mid-area > a{
    display: block;
    width: 27.24%;
    margin: 43px auto 0;
}

div.m-mid-area{
    display: none;
}

div.intro-main-mid{
    padding-top: 65px;
    background-color: #f7f7f7;
}

div.intro-main-mid-contents{
    padding-top: 56px;
    margin: 0 auto !important;
}

.tower-model{
    float: left;
}

table.construction{
    float: right;
    max-width: 474px;
    text-align: left;
    padding-bottom: 99px;
}

div.clearing{
    clear:both;
    padding-bottom: 99px;
}

table.construction tr:first-child{
    border-top: 2px #000 solid !important;
}

table.construction tr:last-child{
    border-bottom: 1px #e6e6e6 solid;
}

table.construction td{
    font-size: 11.6px;
    line-height: 32px;
    padding: 10px 0 !important;
}

td.table-title{
    width: 123px;
}

div.intro-main-bot-contents{
    margin-top: 52px;
}

div.intro-main-bot-contents > span{
    display: block;
}

div.intro-main-bot-contents > span:first-child{
    margin-bottom: 39px;
}

div.intro-main-bot-contents > span:first-child+span{
    margin-bottom: 61px;
}

div.intro-main-bot-contents > span:last-child{
    margin-bottom: 50px;

}
.note{
    background-color:#faf4ec;
    padding: 40px 0 50px;

}
#note_title{
    float:left;
    width:20%;
    display:block;
    text-align:center;
}
#note_content{
    float:right;
    width:79%;
    display:block;
    border-left:1px #e8dbcb solid;
}
.note p{
    font-size:14px;
    line-height:22px;
    font-family: 'Nanum Gothic';
    color:#3f3f3f;
    text-align:left;
    margin:0px;
    font-weight:600;
    padding:0 70px 0 50px;
    letter-spacing:-0.5px;
}
.note p em{
    font-size:18px;
    line-height:30px;
    font-style: normal;
    font-weight:800;
        vertical-align: bottom;
}
.note small{
    text-indent:35px;
    margin-top: -5px;
    display:block;
}
#note_title{
    color:#9f7946;
    font-size:25px;
    font-family: 'Nanum Gothic';
    font-weight:700;
}
div.intro-main-bot-contents > span > img{
    margin: 0 auto;
}

div.intro-main-add{
    background-color: #f7f7f7;
}

div.intro-main-add-contents > ul{
    margin: 0 !important;
    padding-bottom: 129px;
}

div.intro-main-add-contents > ul > li{
    display: inline-block;
    padding: 0 6px;
}

div.sub-add-wrap > .content-title{
    padding-top: 63px !important;
}

div.sub-add-wrap > .content-subtitle{
    margin-bottom: 59px !important;
}
.award_box >span{
    color:#9f7946;
    font-size:37px;
}

.award_title {
    letter-spacing: -0.5px;
    width:100%;
    margin-bottom:25px;
    display: inline-block;
}
.award_title p{
    line-height:25px;
}
.award_box p strong{
    font-weight: 900;
}
.award_box p{
    line-height: 25px;
    letter-spacing: -0.5px;
}
.award_title p strong{
    font-size:16px;
    font-weight:900 !important;
}




/*서브 페이지: 타워소개 > 파르나스 찾아오시는길*/
div.locate-main ul.lnb-area > li:first-child+li{
    width: 75px;
}
.m-ways li:first-child+li .way_circle{
    line-height:20px;
    padding-top:40px;
}
.m-ways .way_circle{
    width:115px;
    height:115px;
    border-radius:50%;
    color: #FFF;
    text-align: center;
    line-height: 115px;
    display: inline-block;
    font-size:16px;
    font-weight:700;
    vertical-align: middle;

}
.way_circle.gray{
    background-color: #545454;
}
.way_circle.gold{
    background-color: #aa8420;
}
div.sub-wrap{
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}
.maps ul{
    text-align:right;
    padding-right:38px;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}
div.locate-main ul.lnb-area > li:first-child+li{
    width: 75px;
}

div.locate-main ul.lnb-area > li:first-child+li+li{
    width: 123px;
}

.content-title-locate{
    font-family: 'Nanum Gothic';
    font-size: 18px;
    font-weight: 800;
    color: #3a3a3a;
    margin: 0 0 25px 0 !important;
}

.content-subtitle-locate{
    font-family: 'Nanum Gothic';
    font-size: 15px;
    font-weight: 500;
    color: #878787;
    margin: 0 0 12px 0 !important;
}

.content-detail-locate{
    font-family: 'Nanum Gothic';
    font-size: 16px;
    font-weight: 700;
    color: #3f3f3f;
    margin: 0 0 25px 0 !important;
}

div.maps > ul{
    margin-bottom: 35px !important;
}

div.maps > ul > li{
    display: inline-block;
    padding: 0 4.5px;
}

div.locate-area{
    width: 100%;
}

div.locate-way{
    position: relative;
    padding: 79px 0 155px;
    width:100%;
}

.way-title{
    font-family: 'Nanum Gothic';
    font-size: 21px;
    font-weight: 800;
    color: #3a3a3a;
    margin: 0 0 60px 0 !important;
}

ul.pc-ways{
    float:right;
    width:65%;

    padding-left:50px;
}
ul.pc-ways li:first-child{
    margin-bottom:75px;
}
ul.pc-ways li:first-child+li{
    margin-bottom:56px;
}
ul.m-ways{
    display: none;
}
.minimap{
    float:left;
    width:35%;
    display:inline-block;
}




/*서브 페이지: 타워소개 > 파르나스 갤러리*/

.gallery_slide .left_btn, .gallery_slide .right_btn{
    width:40px;
    height:67px;
    margin-top:-33px;
    display:inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;

}
.gallery_slide .left_btn{
    margin-left:-20px;
    left:50%;
    background: url('../images/sub/left_btn.png') no-repeat center center;
}
.gallery_slide .right_btn{
    margin-right:-20px;
    right:50%;
    background: url('../images/sub/right_btn.png') no-repeat center center;
}
.gallery_slide .item img, .gallery_slide{
    max-height:660px;
}
.gallery_slide .item img, .gallery_slide > div, .gallery_slide .item, .gallery_slide .carousel-inner{
    height:100%;
}
.gallery_slide{
    overflow:hidden;
    width:100%;
    max-width:1024px;
}
.gallery_slide #gallery_slide_box{
    border-bottom:3px #b49265 solid;
}
.gallery_btns{
    border-bottom: 1px #bdbdbd solid;
    font-size: 0;
    margin-bottom:145px;
}
.gallery_btns > span{
    width:25%;
    height:65px;
    display:inline-block;
    padding:15px 0;
}
.gallery_btns > span > a{
    height:35px;
    width:100%;
    display:inline-block;
    font-size:16px;
    color:rgba(0,0,0,0.5);
    font-weight:bold;
    line-height: 35px;
    border-left:1px #e6e6e6 solid;
}
.gallery_btns > span:first-child > a{
    border-left:0px;
}
.gallery_btns .active a{
    color:#000;
}
.gallery_btns .active i{
    background:url("../images/sub/up_arrow.png") no-repeat center center;
    display:inline-block;
    width:17px;
    height:17px;
    margin-left:5px;
    vertical-align: text-bottom;
}
/*서브 페이지: 시설안내 > 층별입주현황*/
.floor_info .contents-area{
    text-align: justify;
}
ul.floor_block{
    display:inline-block;
    margin-right:45px;
    float:left;
}
ul.floor_block li:first-child{
    border-top: 1px #e5e5e5 solid;
}
ul.floor_block li{
    width:195px;
    height:71px;
    border: 1px #e5e5e5 solid;
    border-top:none;
    line-height: 68px;
    color:#292929;
    font-size:18px;
    font-weight: 900;
    cursor:pointer;
    text-align:center;
}
ul.floor_block li:hover a{
    font-weight: 900;

}
ul.floor_block li a{
    color:#292929;
}
.floor_block .active{
    background-color:#494949;
    color:#FFF;
    position:relative;
}
.floor_block .active a{
    color:#FFF;
}
.floor_block .active:after{
    content:"";
    border-left:35px #494949 solid;
    border-right: none;
    border-top: 35px transparent solid;
    border-bottom: 35px transparent solid;
    color:#FFF;
    position:absolute;
    right:-35px;
    top:0;
    display:inline-block;
    width:30px;
    height:71px;
}
.floor_info .sub-top-wrap{
    margin-bottom:95px;
}
.floor_company{
    float:left;
    width:780px;
}
.floor_company li{
    width: 100%;
    height:100px;
    background-color:#f7f7f7;
    margin-bottom:8px;
    padding:20px 35px 20px 25px;
}
.floor_company .ci_logo{
    border:1px #e6e6e6 solid;
}
.floor_company .ci_logo img{
    width: 140px;
    height: 60px;
}
.floor_company .details {
    padding: 8px 20px;
    font-size:13px;
    line-height:21px;
    display:inline-block;
}
.floor_company .details strong{
    font-weight: 900;
    font-size:19px;
}
.floor_num{
    font-size:13px;
    float:right;
}
.m_floor_company{
    display:none;
    width:100%;

    text-align: center;
}
.notice_controller.m_floor{
    display:none;
}
.notice_controller{
    text-align: center;
}
.notice_controller li{
    display:inline-block;
    vertical-align: top;
}
.m_floor_company li{
    height:200px;
    width:200px;
    margin:0 7px;
    display:inline-block;
    cursor:pointer;
}
.m_floor_company li a{
    color:#000;
    font-size:12px;
}
.m_floor_company li a span{
    padding:10px 0;
    display:inline-block;
}
.m_floor_company li a strong{
    font-size:14px;
}
.m_floor_company li img{
    border:1px #e6e6e6 solid;
    width:200px;
    height:110px;
    display:inline-block;
}
.notice_controller .controller_pages li{
    width:30px;
    height:30px;
    border:1px #e4e4e4 solid;
    display:inline-block;
    line-height:30px;

}
.notice_controller li{
    cursor:pointer;
}
.notice_controller li a{
    color:#666;
    font-size:12px;
    font-family:"Dotum";

}
.controller_pages .active a{
    font-weight: 900;
}
.notice_controller>li:first-child,
.notice_controller>li:first-child+li,
.notice_controller>li:first-child+li+li+li,
.notice_controller>li:first-child+li+li+li+li {
    width:30px;
    height:30px;
    border:1px #e4e4e4 solid;
    display:inline-block;
    background-color: #f8f8f8;
    line-height: 30px;
    color:#888;
    font-size:10px;
}
.floor_info .contents-area{
    min-width:660px;
}
.floor_company a{
    width:100%;
    height:100%;
    display:inline-block;
}
/*층별안내 뷰페이지*/

.floor_info_view .ci_box{
    width:100%;
    height:100px;
    background-color: #f7f7f7;
    padding:20px 35px 20px 25px;
    text-align:justify;
    margin-bottom:10px;
}
.floor_info_view .ci_box .details{
    display:inline-block;
    padding: 7px 22px;
    font-size:13px;
    line-height: 21px;
}
.floor_info_view .ci_box .details strong{
    font-weight:900;
    font-size:19px;
}
.floor_info_view .ci_box .floor_num{
    float:right;
}
.floor_info_view .ci_image{
    max-width:1024px;
    width:100%;
}
.floor_info_view .ci_image img{
    width:100%;
}
.about_company{
    margin-top:20px;
    font-size:14px;
    line-height: 22px;
    font-weight: 600;
}
.floor_info_view .list_btn{
    margin-top:75px;
    margin-bottom:98px;
}
.btn_gold{
    display:inline-block;
    width:110px;
    height:45px;
    background-color: #aa8420;
    color:#FFF;
    line-height:45px;
    font-weight:700;
    font-size:16px;
    border:none;
}
.btn_gold a{
    color:#FFF;
    width:100%;
    height:100%;
    display:inline-block;
    line-height:45px;
    font-weight:700;
    font-size:16px;
}
.btn_white{
    display:inline-block;
    width:110px;
    height:45px;
    line-height:45px;
    font-weight:500;
    font-size:16px;
    outline:1px #d5d5d5 solid;
    text-align:center;
}
.btn_white a{
    color:#292929 !important;
    width:100%;
    height:100%;
    display:inline-block;
    line-height:45px;
    font-weight:500;
    font-size:16px;
}
.floor_info_view div.contents-area{
    padding: 35px 20px 0;
}

/*편의시설*/
.convenience .contents-area{
    padding :100px 20px 0;
    margin-bottom:255px;
    font-size:0;
}
.convenience .contents-area li img{
    width:100%;
}
.convenience .contents-area li{
    display:inline-block;
    margin:0 2%;
    width:46%;
}
.convenience .contents-area li a{
    width:100%;
    height:100%;
    color:#FFF;
    font-size:14px;
    display:inline-block;
}
.convenience .contents-area li span{
    display:block;
    height:50px;
    background-color: #3b3b3b;
    line-height:50px;

}
.info_table,.info_table td,.info_table th {
    border: 1px solid #e6e6e6;
}
.info_table.noti,.info_table.noti td,.info_table.noti th {
    border-left: none;
    border-right: none;
}
.info_table{
    border-collapse: collapse;
    width:100%;
    border-top:2px #aa8420 solid;
}
.info_table th{
    background-color:#f8f8f8;
    font-weight: 900;
    text-align:center;
    padding:18px 0;
    color:#292929;

}
.info_table tbody td{
    padding:18px 0;
}
.info_table tfoot td{
    background-color: #f6f2e8;
    font-weight: 900;
    color:#292929;
    padding:18px 0;
}
.mid_imgbox{
    margin:55px 0 65px;
}
.top_imgbox img, .mid_imgbox img{
    width:100%;
}
.bottom_p{
    margin-top:10px;
    color:#464646;
    text-align: justify;
    margin-bottom:140px;
}
/*임대정보*/
.rent_info .top_table{
    margin-bottom:95px;
}
#m_rentimg{
    display:none;
}
/*임대문의*/
.listStyle_circle{
    background: url('../images/sub/liststyle_circle.png') no-repeat left 3px;
    padding-left:20px;
}
 .listStyle_point{
     background: url('../images/sub/liststyle_point.jpg') no-repeat left 8px;
     padding-left:5px;
 }
.ask_head{
    margin-bottom:20px;
    padding-left:22px;
}
.ask_head input{
    border:none;
    width:190px;
    height:30px;
    padding-left:5px;
}
.rent_ask .info_table th{
    text-align: justify;
    padding:20px;
}
.rent_ask .info_table.f_table tbody td{
    padding:10px 15px;
    color:#454545;
}
.rent_ask .info_table tbody td select,

.rent_ask .info_table tbody td input{
    margin-right:6px;
    padding-left:5px;
    border:1px solid #d5d5d5;
    height:30px;
    vertical-align: middle;

}
.rent_ask .info_table.f_table tbody td label{
    margin-right:33px;
    vertical-align: middle;

}
select .opt_title{
    display:none;
    height:auto;
    visibility: hidden;
    overflow:hidden;
}
label{
    margin-bottom:0;
}
input[type="checkbox"]{
    margin:0 5px;
}
.rent_ask .info_table tbody .personal_head{
    line-height: 50px;
    padding:0 20px;
}
.personal_head span:first-child{
    font-weight:bold;
    font-size:15px;
    color:#292929;
    vertical-align: middle;

}
.personal_head span:first-child + span{
    color:#666;
}
.personal{
    margin-top:20px;
}
.personal .info_table{
    border-top:1px solid #e6e6e6;
}
.info_table tbody td.personal_sentence{
    padding: 20px;
    overflow-y: scroll;
    max-height: 120px;
    height: 120px;
    display: block;
}
.rent_ask .s_table{
    margin-bottom:44px;
}
.rent_ask .personal_btns{
    margin-bottom:80px;
    text-align:center;
}
.rent_ask .supports {
    text-align: center;
    width:100%;
    margin-bottom:155px;
    font-size: 0;
}
.rent_ask .supports > span{
    display:inline-block;
    width:31%;
    margin:1%;
}
.rent_ask .supports span img{
    width:100%;
}
.rent_ask .supports > span.mobile{
    display:none;
}
/*공지사항*/
.info_table.noti th{
    padding:15px 0;
}
.info_table.noti{
    border-top: 2px #555 solid;
}
.info_table.noti thead tr th:first-child{
    border-top: 2px #aa8420 solid;
}
.notice_wrapper .notice_controller{
    margin:60px 0 100px;
}
.info_table.noti tbody td{
    padding:14px 0;
    color:#464646;
    font-weight:500;
    position:relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.info_table.noti tbody td a{
    color:#464646;
}
.info_table.noti tbody tr td:first-child+td{
    padding-left:25px;
    padding-right:25px;
    text-align:justify;
}
.notice_top{
    text-align:justify;
    margin-bottom:40px;
    height:37px;
    line-height: 37px;
    padding: 0 22px;
}
.notice_top span:first-child{
    font-size:16px;
    font-weight: bold;
}
.notice .info_table, .info_table td, .info_table th{
    border-left: none;
    border-right: none;
}
.notice_top span:first-child+span{
    float:right;
}
.notice_top span:first-child+span input{
    width:238px;
    height:37px;
    border:1px #ddd solid;
    padding-left:20px;
    color:#5f5f5f;
    margin-left:5px;
}
.notice_top span:first-child+span button{
    background: url('../images/sub/search_btn.jpg') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    width:85px;
    height:37px;
    display: inline-block;
    padding-left:16px;
    color:#FFF;
    font-weight:700;
    border:none;
}
img.notice_new{
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-13.5px;
    margin-left:-13.5px;
}
img.notice_attatch{
    vertical-align: middle;
}
.min450{
    min-width:450px;
}
.application .info_table.noti tbody td:first-child+td{
    padding-left:0;
    padding-right:0;
    text-align:center;
}
.application .info_table.noti tbody td:first-child+td+td{
    padding-left:25px;
    padding-right:25px;
    text-align:justify;
}
.resource .info_table.noti tbody tr td:first-child+td{
    padding-left:0;
    padding-right:0;
    text-align:center;
}
.resource .info_table.noti tbody td:first-child+td+td{
    padding-left:25px;
    padding-right:25px;
    text-align:justify;
}
.faq .info_table .title{
    cursor:pointer;
}
.faq .info_table .contents{
    display:none;
}
.faq .info_table .contents td{
    background-color: #f8f8f8;
    color:#666666
}
.faq .info_table .contents td:first-child{
    padding: 25px 0 40px;
}
.faq .info_table .contents td:first-child+td{
    padding: 25px 10px 40px;
}
.faq .info_table.noti tbody tr td:first-child+td{
    padding-left:0;
    padding-right:0;
}
.faq .open td{
    font-weight:900 !important;
}
